{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">오늘의 TMI</h5>
    <div class="card-body">
        <p class="card-text"><strong>매니저님과 문정태님은 생일이 같다.</strong></p>
        <a href="https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=8%EC%9B%94+23%EC%9D%BC"
           class="btn btn-danger">그래서 언젠데?</a>
    </div>
    <div class="card-body">
        <p class="card-text" ><strong>왜 팀소개에 장독대 사진을 놓았을까?</strong>
        <h6>공모전 팀명을 정해야 되는데 </h6><h6>김칫국은 너무 노골적으로 보여서</h6> <h6>한번 꼬아서 장독대팀으로 했다.</h6></p>
    </div>
</div>
</div>


{% endblock sidebar %}